<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yama"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:name=".ApplicationMorse"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!--
        Declares Only C2DM servers can send messages to this receiver. If android:permission is not set, any other app can generate it
        <receiver
            android:name=".ReceiverC2dmRegistration"
            android:permission="com.google.android.c2dm.permission.SEND" >

            Declares this receiver can receive cd2m.intent.REGISTRATION intents (which contains the c2dm key)
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.yama" />
            </intent-filter>
        </receiver>
        -->


        <!--
        <receiver
            android:name=".ReceiverMessageReceivedPushNotification"
            android:permission="com.google.android.c2dm.permission.SEND" >

             Declares this receiver can receive cd2m.intent.RECEIVE intents
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.yama" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySendMessage"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <provider
            android:name=".ContentProviderTranslationTable"
            android:authorities="com.yama.contentprovidertranslationtable" />
    </application>

</manifest>